# Just practised

In [11]:
a = tuple(range(1,11,1))

In [12]:
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [13]:
b = set(range(2,21,2))

In [9]:
print(b)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

# DICT Practise

In [14]:
d1 = {'name':'Jivesh','Batch': 'DA4'}

In [18]:
print(d1)

{'name': 'Jivesh', 'Batch': 'DA4'}

In [19]:
type(d1)

dict

In [20]:
  d1['name'] = 'ARC'

In [21]:
print (d1)

{'name': 'ARC', 'Batch': 'DA4'}

In [32]:
l1 = ['list1','list2']
t1 = ('tuple1','tuple2')

In [33]:
d2 = {
    'List': l1,
    'Tuple': t1,
    12:13,
    's1':'s2'
}

In [34]:
print(type(d2))

<class 'dict'>

In [35]:
print(d2)

{'List': ['list1', 'list2'], 'Tuple': ('tuple1', 'tuple2'), 12: 13, 's1': 's2'}

In [36]:
d2.keys()

dict_keys(['List', 'Tuple', 12, 's1'])

In [37]:
d2.values()

dict_values([['list1', 'list2'], ('tuple1', 'tuple2'), 13, 's2'])

In [38]:
print(d2[12])

13

In [39]:
print(type(d2[12]))
print(d2[12])

<class 'int'>
13

In [40]:
d2.items()

dict_items([('List', ['list1', 'list2']), ('Tuple', ('tuple1', 'tuple2')), (12, 13), ('s1', 's2')])

In [43]:
d2.pop('s1')

's2'

In [44]:
d2

{'List': ['list1', 'list2'], 'Tuple': ('tuple1', 'tuple2'), 12: 13}

# FUNCTION

In [47]:
def addvalue (x,y):
    print('practising func')
    result = x + y
    print(f'result={result}')

In [49]:
 addvalue(2,3)

practising func
result=5

In [50]:
print ("top of function")

top of function

In [65]:
print ("top of function")

def multiply_value(x,y) :
    print('Starting multiplication')
    result = x * y
    print(f'result={result}')
    print('We are into multiplication function')

top of function

In [66]:
final_result = multiply_value(5,10)

Starting multiplication
result=50
We are into multiplication function

In [82]:
print(final_result)

None

In [85]:
print ('we are into division function')

def divfunc (x,y) :
    print('Lets divide value')
    result = x / y
    print(f'result = {result}')
    return result
    
    ##print ('Kindly wait for 0.01 sec')

we are into division function

In [86]:
 final = divfunc(100,5)
 print(final)

Lets divide value
result = 20.0
20.0

In [111]:
 def trynew (x,y,op):
        print('using loop inside function')
        if (op == 'add'):
            print('Add operation')
            return(x + y)
        elif (op == 'sub'):
            print('Sub operation')
            return(x - y)
        elif (op == 'mul'):
            print('Mul operation')
            return(x * y)
        elif (op == 'div'):
            print('Div operation')
            return(x / y)
        else :
            return('Choose the correct operator')

In [112]:
 trynew(2,4,'add')

using loop inside function
Add operation

6

In [113]:
result = trynew(2,4,'mul')
print (f'result = {result}')

using loop inside function
Mul operation
result = 8

In [106]:
type(trynew)

function

# TASK

In [131]:
 def taskfunc():
        x = {'value1':'parameter','value2':'parameter2','value3':'parameter3'}
        print(x)

In [133]:
 result = taskfunc()

{'value1': 'parameter', 'value2': 'parameter2', 'value3': 'parameter3'}

# OR

In [138]:
def join_parameters(param1, param2, param3):
    result = {
        "param1": param1,
        "param2": param2,
        "param3": param3
    }
    return result

output = join_parameters("value1", "value2", "value3")
print(output)

{'param1': 'value1', 'param2': 'value2', 'param3': 'value3'}